<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <comment>Configuration File</comment>
  <entry key="schoolName">Instituto Superior de Engenharia de Lisboa</entry>
  <entry key="departmentName">ADEETC</entry>
  <entry key="groupNumber">10</entry>
  <entry key="curse">SI1 Semestre Inverno 2018/2019</entry>
  <entry key="server">localhost</entry>
  <entry key="port"></entry>
  <entry key="instanceName"></entry>
  <entry key="database">Binas</entry>
  <entry key="integratedSecurity">False</entry>
  <entry key="username">sa1</entry>
  <entry key="password">sa1</entry>
  <entry key="databaseType">sqlserver</entry>
 </properties>
 
 